Binaries
DerivedDataCache
Intermediate
Saved
Content/HwaseongHaenggung
Content/Portals
Content/KTP_Effect
Content/StarterContent
Content/Variant_Combat
Content/Variant_Platforming
Content/Variant_SideScrolling
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace